<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A forum named Masege">
    <meta name="author" content="Masege">

    <title>Masege - 校友论坛</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<!-- 引入notifications的模板标签 -->
{% load notifications_tags %}
{% notifications_unread as unread_count %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Masege · 一个论坛</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">主页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notice/" style="float: left">消息</a>

                    {% if unread_count %}
                        <svg viewBox="0 1 6 7"
                             width="6px"
                             height="6px" style="float: right;margin-left: -10px">
                            <circle cx="3"
                                    cy="4"
                                    r="3"
                                    fill="#ff6b6b"
                            ></circle>
                        </svg>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myinfo/">我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signout/">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4" id="title">新鲜事
                <small>
                    <small>
                        <small>正在发生...</small>
                    </small>
                </small>
            </h1>

            <!-- Blog Post -->
            {% block page-content %}
                {% for post in posts_list %}

                    <div class="card mb-4">
                        {#          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                        <div class="card-body">
                            <h5 class="card-title">标题: {{ post.ptitle }}</h5>
                            <div style="float: left;" class="card-text">{{ post.pabstract }}······</div>
                            <a href="/detail/{{ post.pid }}/">
                                <div style="float: right;" class="btn btn-primary">让我看看 👉</div>
                            </a>
                        </div>
                        <div class="card-footer text-muted">
                            <div style="float: left">
                                {#                                👍:{{ post.like_cnt }} #}
                                &#160 &#x1F441:{{ post.view_cnt }} &#160
                                &#x1F4AC:{{ post.comment_cnt }}
                            </div>
                            <div style="float: right">
                                Posted on {{ post.createTime }}
                                {#                                by <a href="#">{{ post.pauth }}</a>#}
                            </div>

                        </div>
                    </div>
                {% endfor %}

            {% endblock %}

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item {{ has_newer }}">
                    <a class="page-link" href="?page={{ pre_page }}">&larr; Newer</a>
                </li>
                <li class="page-item {{ has_older }}">
                    <a class="page-link" href="?page={{ next_page }}">Older &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- 按钮触发模态框 -->
            <button class="btn btn-info" style="margin-top:35px;width:100%;" data-toggle="modal" data-target="#myModal">
                &#128221; 说点什么...
            </button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>我的想法...</h4>
                            <button type="button" style="float: right" class="close" data-dismiss="modal"
                                    aria-hidden="true">
                                &times;
                            </button>
                        </div>

                        <form action="/new_post/" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <input type="text" style="width: 100%;margin-bottom: 10px;" name="title"
                                       placeholder="起一个标题">
                                <textarea style="width: 100%" name="post_content" rows="8" placeholder="今天心情如何..."
                                          required oninvalid="setCustomValidity('还没有内容～')"
                                          oninput="setCustomValidity('')"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <input type="submit" value="发表" id="id_submit" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>


            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">&#x1F50E搜索</h5>
                <div class="card-body">
                    <div class="input-group">
                        <form method="GET" action="/search/" id="search" name="search" class="form-inline">{% csrf_token %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="keyword">search</label>
                                <input type="text" id="keyword" name="keyword" class="form-control"
                                       value="{{ keyword }}">
                                <button class="btn btn-secondary" type="submit" class="input-group-btn">冲！</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">&#x1F4CC公告</h5>
                <div class="card-body">
                    我去买个橘子，你站在此地，不要走动。
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark" style="margin-top:100px;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Masege 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
