<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A forum named Masege">
    <meta name="author" content="Masege">

    <title>Masege - 校友论坛</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Masege · 一个论坛</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">主页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">消息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我的</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">关于</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">新鲜事
                <small>
                    <small>
                        <small>正在发生...</small>
                    </small>
                </small>
            </h1>

            <!-- Blog Post -->
            {% block page-content %}
                {% for post in posts_list %}

                    <div class="card mb-4">
                        {#          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">#}
                        <div class="card-body">
                            <h2 class="card-title">{{ post.ptitle }}</h2>
                            <div style="float: left;" class="card-text">{{ post.pabstract }}······</div>
                            <a href="/detail/{{ post.pid }}/">
                                <div style="float: right;" class="btn btn-primary">让我看看 👉</div>
                            </a>
                        </div>
                        <div class="card-footer text-muted">
                            <div style="float: left">
                                👍:{{ post.like_cnt }} &#160 &#x1F441:{{ post.view_cnt }} &#160
                                &#x1F4AC:{{ post.comment_cnt }}
                            </div>
                            <div style="float: right">
                                Posted on {{ post.createTime }}
                                {#                                by <a href="#">{{ post.pauth }}</a>#}
                            </div>

                        </div>
                    </div>
                {% endfor %}

            {% endblock %}

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">&#x1F50E搜索</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="找一找...">
                        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">冲！</button>
              </span>
                    </div>
                </div>
            </div>

            {#        <!-- Categories Widget -->#}
            {#        <div class="card my-4">#}
            {#          <h5 class="card-header">Categories</h5>#}
            {#          <div class="card-body">#}
            {#            <div class="row">#}
            {#              <div class="col-lg-6">#}
            {#                <ul class="list-unstyled mb-0">#}
            {#                  <li>#}
            {#                    <a href="#">Web Design</a>#}
            {#                  </li>#}
            {#                  <li>#}
            {#                    <a href="#">HTML</a>#}
            {#                  </li>#}
            {#                  <li>#}
            {#                    <a href="#">Freebies</a>#}
            {#                  </li>#}
            {#                </ul>#}
            {#              </div>#}
            {#              <div class="col-lg-6">#}
            {#                <ul class="list-unstyled mb-0">#}
            {#                  <li>#}
            {#                    <a href="#">JavaScript</a>#}
            {#                  </li>#}
            {#                  <li>#}
            {#                    <a href="#">CSS</a>#}
            {#                  </li>#}
            {#                  <li>#}
            {#                    <a href="#">Tutorials</a>#}
            {#                  </li>#}
            {#                </ul>#}
            {#              </div>#}
            {#            </div>#}
            {#          </div>#}
            {#        </div>#}

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">&#x1F4CC公告</h5>
                <div class="card-body">
                    我去买个橘子，你站在此地，不要走动。
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark" style="margin-top:350px;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Masege 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
